.todoWrapper {
  max-width: 900px;
  width: 100%;
  border: 10px solid white;
  border-radius: 30px;
  background-image: url("https://image.slidesdocs.com/responsive-images/background/world-map-globe-on-a-bright-yellow-stock-illustration-powerpoint-background_bea5ac454c__960_540.jpg");
  margin-left: 35%;
  color: white;
  padding-bottom: 10px;

  .title {
    font-size: 50px;
    margin-top: auto;
    text-align: center;
    position: relative;
  }
  .title[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    background-color: rgb(209, 227, 203);
    color:blue;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    max-width: 320px;
    white-space: pre-line;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  .title[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
  }

  .newTaskWrapper {
    display: flex;
    justify-content: center;
    margin-top: -20px;

    .addTask {
      font-size: 30px;
      padding: 5px;
      background-color: rgb(27, 39, 150);
      color: white;
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }

    .errorrNewTask {
      margin-top: auto;
      margin-left: 15px;
      font-size: 20px;
      color: white;
      font-weight: bolder;
    }

    .inValidInput {
      background-color: red;
    }

    .btnAddTask {
      font-size: 30px;
      padding: 5px;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }

    .deadlineAddTask {
      font-size: 30px;
      margin-left: 100px;
      color: rgb(238, 237, 231);
      background-color: rgb(27, 39, 150);
      border-radius: 10px;
      padding: 3px;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }
  }

  .listTasks {
    display: flex;
    gap: 2px;
    margin-top: 14px;
    margin-left: 150px;
    margin-bottom: 10px;

    .listText {
      font-size: 16px;
      width: 350px;
      padding: 2px;
      border-radius: 10px;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }

    .btnList {
      font-size: 100%;
      background-color: white;
      border-color: white;
      border-radius: 10px;
      color: blue;
    }
    .deadline {
      font-size: 30px;
      font-weight: bolder;
    }
  }
}
