.usersWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  padding: 20px;
  color: white;

  .previousPage {
    font-size: 50px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    color: white;
    margin: 5px;
  }

  .previousPage:hover {
    color: orange;
  }

  .usersCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

    .usersContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      border: 3px solid white;
      border-radius: 5px;

      .usersImage {
        width: 38%;
        height: 38%;
        border-radius: 5px;
        margin-bottom: 5px;
        object-fit: cover;
      }

      .userName {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2px;
        white-space: wrap;
        line-height: 16px;
      }

      .comment {
        margin: 0;
      }
    }
  }

  .usersContainer:hover {
    border: 3px solid orange;
    color: orange;
  }

  .nextPage {
    font-size: 50px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    color: white;
    margin: 5px;
  }

  .nextPage:hover {
    color: orange;
  }
}

@media (max-width: 923px) {
  .usersWrapper {
    .previousPage {
      font-size: 40px;
    }

    .usersCards {
      gap: 30px;

      .usersContainer {
        width: 120px;
        height: 120px;

        .usersImage {
          width: 25%;
          height: 25%;
        }

        .userName {
          font-size: 12px;
        }

        .comment {
          font-size: 12px;
        }
      }
    }

    .nextPage {
      font-size: 40px;
    }
  }
}

@media (max-width: 671px) {
  .usersWrapper {
    .previousPage {
      font-size: 20px;
    }

    .usersCards {
      // display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .usersContainer {
        // width: 120px;
        // height: 120px;

        .usersImage {
          margin: 0;
          // width: 25%;
          // height: 25%;
        }

        .userName {
          margin: 0;
          // font-size: 12px;
        }
      }
    }

    .nextPage {
      font-size: 20px;
    }
  }
}
