.usersWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  padding: 20px;
  color: white;


  .usersCards {
    display: flex;
    flex-wrap: wrap;
    gap:40px;
   

    .usersContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 130px;
      height: 140px;
      border: 2px solid white;
      border-radius: 5px;
      padding: 5px;


      .usersImage {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        margin-bottom: 0;
      }

      .userName{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
}
