.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;

  .mainContent {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  .footer {
    margin-top: auto;
  }
}
