

.weatherWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 40px;
    gap: 10px;



    .degrees{
        font-size: 50px;
        font-weight: bolder;
    }

}