.weatherWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  gap: 10px;

  .degrees {
    font-size: 35px;
    font-weight: bolder;
  }
}

@media (max-width: 500px) {
  .weatherWrapper {
    font-size: 20px;

    .degrees {
      font-size: 20px;
    }
  }
}
